@import '../catppuccinPalette.css';

* {
    font-family: JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0,0,0,0);
    border-bottom: 0px solid @catblue;
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    background: @catsurface0;
    margin: 5px 5px 5px 5px;
    padding: 4px 1px;
    border-radius: 12px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 12px;
    color: @catblue;
    background-color: @catblue;
    transition: all 0.3s ease-in-out;
    opacity:0.4;
    font-size:13px;
}

#workspaces button.active {
    color: @catsurface0;
    background-color: @catblue;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    background-color: @catcrust;
    opacity: 0.8;
    color: @catblue;
    border-radius: 10px;
    min-width: 30px;
    background-size: 400% 400%;
}

tooltip label {
    color: @catsurface0;
}

window#waybar.empty #window {
    background-color:transparent;
}

#memory,#cpu,#window,#clock,#pulseaudio,#network,#bluetooth.on, #bluetooth.connected, #battery, #tray, #bluetooth.on, #bluetooth.connected {
    background-color: @catsurface0;
    font-size: 13px;
    color: @catblue;
    border-radius: 12px;
    padding: 0px 10px 0px 10px;
    margin: 5px 0px 5px 10px;
    opacity:0.8;
}

#battery {
    padding: 0px 15px 0px 10px;
}

#tray {
  margin: 5px 10px 5px 10px
}

@keyframes blink {
    to {
        background-color: @catblue;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @catred;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @catblue;
}

label:focus {
    background-color: @catcrust;
}

#network.disconnected {
    background-color: @catred;
}
