@import '../catppuccinPalette.css';

* {
    font-family: JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono;
    font-size: 10px;
}

window#waybar {
    background-color: rgba(17,17,27,0.7);
    border-bottom: 0px solid #ffffff;
    border-radius: 40px;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    background: transparent;
    padding: 0px 10px 0px 10px;
    margin: 7px 0px 7px 0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity: 0.8;
}

#workspaces button {
    padding: 0px 10px;
    margin: 0px 3px;
    border-radius: 15px;
    border: 0px;
    color: @catsurface0;
    background-color: @catblue;
    transition: all 0.3s ease-in-out;
    opacity:0.8;
}

#workspaces button.active {
    background-color: @catblue;
    min-width: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

#workspaces button:hover {
    background-color: @catsky;
    min-width: 30px;
}

#clock, #pulseaudio, #network, #battery, #tray, #mpris {
    color: @catsurface0;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin: 7px 0px 7px 0px;
    opacity:0.8;
}
#mpris   { margin-left: 7px; }
#tray    { margin-right: 7px; }
#battery { padding-right: 13px; }

#mpris      { background-color: @catgreen; }
#pulseaudio { background-color: @catrosewater; }
#network    { background-color: @catred; }
#battery    { background-color: @catpeach; }
#clock      { background-color: @catyellow; }

@keyframes blink {
    to {
        background-color: @catblue;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @catred;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
