@import '../../.cache/wal/colors-waybar.css';

* {
    font-family: JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono, JetBrainsMono;
    font-size: 10px;
}

window#waybar {
    background-color: rgba(0,0,0,1);
    background: transparent;
    border-bottom: 0px solid #ffffff;
    transition-property: none;
    transition-duration: 0s;
}

#workspaces {
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 1px 10px 1px 10px;
    margin: 0px 5px 0px 0px;
    border-radius: 15px;
    border: 0px;
    color: @color4;
    background-color: @background;
    opacity: 0.8;
    transition: all 0.3s ease-in-out
}

#workspaces button.active {
    border-style: solid;
    border-width: 3px;
    border-color: @color4;
    min-width: 20px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    min-width: 30px;
}

#clock, #pulseaudio, #network, #battery, #tray, #mpris, #cpu, #memory, #temperature, #custom-weather, #window {
    color: @background;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    padding: 1px 10px 1px 10px;
    margin: 0px 5px 0px 0px;
}
#mpris {
    margin-left: 0px;
    margin-right: 5px;
    background-color: @color2;
    padding-right: 0px;
}
#pulseaudio {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: @color2;
}
#memory, #cpu {
    margin-right: 0px;
    padding-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}
#memory, #battery {
    margin-left: 0px;
    padding-left: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}
#battery    { padding-right: 13px; }

#network, #window    { background-color: @color3; }
#battery, #cpu, #memory, #temperature
            { background-color: @color5; }
#clock, #custom-weather      { background-color: @color1; }
#custom-weather      { margin-right: 0px; }

#window {
    margin-right: 0px;
    margin-left: 0px;
}

@keyframes blink {
    to {
        background-color: @color4;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @color8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
