@import '../../.cache/wal/colors-waybar.css';
@define-color bg @background;

* {
    font-family: "JetBrains Mono NL";
    font-size: 10px;
}

window#waybar {
    border-bottom: 0px solid #ffffff;
    background: transparent;
    transition-property: none;
    transition-duration: 0s;
}

#workspaces {
    background: @bg;
    padding: 0px 2px 0px 2px;
    margin: 0px 0px 0px 5px;
    border-radius: 5px;
}

#workspaces {
    background: @bg;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 5px;
    border-radius: 5px;
}

#workspaces button, #workspaces button:hover {
    padding: 0;
    background-color: @bg;
    color: @color4;
}
#workspaces button.active, #workspaces button:hover { color: @color8; }

#clock, #pulseaudio, #network, #battery, #tray, #mpris, #cpu, #memory, #temperature, #window, #backlight {
    background-color: @bg;
    color: @color4;
    opacity: 1.0;
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    margin: 0px 5px 0px 0px;
}
#backlight {
    margin-right: 0px;
    padding-right: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#pulseaudio {
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
#memory, #cpu {
    margin-right: 0px;
    padding-right: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}
#memory, #battery {
    margin-left: 0px;
    padding-left: 2px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
}
#battery    { padding-right: 13px; }
#window {
    margin-right: 0px;
    margin-left: 10px;
}
